---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="QwQ" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="./favicon.ico">
		<link rel="apple-touch-icon" href="./apple-touch-icon.png" sizes="180x180">
		<meta property="og:site_name" content="a1z.uk">
		<meta property="og:image" content="https://cdn.ringoxd.dev/private/alz-back.jpg">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="theme-color" content="#65588D">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 54, 13, 191;
		--accent-light: 217, 146, 243;
		--accent-dark: 7, 7, 131;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("https://cdn.ringoxd.dev/private/alz-back.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		/* background-size: 224px; */
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
